<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salon | Update User</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
        integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <%- include('./partials/adminHeader'); %>
    <main class="main-container">
        <div class="container py-5">
            <div class="card">
                <div class="card-header">
                    <h4>Update User</h4>
                </div>
                <div class="card-body p-3">
                    <form class="needs-validation" action="/users/edit-user/<%= user.id %>" method="POST" novalidate>
                        <div id="MsgShow">
                            <% if (status=="success" ) { %>
                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    <strong>
                                        <%= message %>
                                    </strong>
                                </div>
                                <% } else if (status=="error" ) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>
                                            <%= message %>
                                        </strong>
                                    </div>
                                    <% } %>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Firstname</label>
                                    <input type="text" class="form-control" name="firstname" value="<%= user.firstname %>" placeholder="Firstname"
                                        required />
                                    <div class="invalid-feedback">
                                        Firstname is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Lastname</label>
                                    <input type="text" class="form-control" name="lastname" value="<%= user.lastname %>" placeholder="Lastname"
                                        required />
                                    <div class="invalid-feedback">
                                        Lastname is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter email" value="<%= user.email %>"
                                        required />
                                    <div class="invalid-feedback">
                                        Valid Email is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        Gender
                                    </label>
                                    <select class="form-control" name="gender" required>
                                        <option value="male" <% if (user.gender == "male") { %>selected<% } %>>Male</option>
                                        <option value="female" <% if (user.gender == "female") { %>selected<% } %>>Female</option>
                                        <option value="other" <% if (user.gender == "other") { %>selected<% } %>>Other</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Gender is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        Role
                                    </label>
                                    <select class="form-control" name="role" required>
                                        <option value="client" <% if (user.role == "client") { %>selected<% } %>>Client</option>
                                        <option value="salonowner" <% if (user.role == "salonowner") { %>selected<% } %>>Salon Owner</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Role is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Location</label>
                                    <input type="text" class="form-control places-autocomplete" id="format_address"
                                        name="location" value="<%= user.location %>" required />
                                    <input type="hidden" value="<%= user.latitude %>" id="latitude" name="latitude">
                                    <input type="hidden" value="<%= user.longitude %>" id="longitude" name="longitude">
                                    <div class="invalid-feedback">
                                        Location is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-footer p-3">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4wDAFyAO2VssN5pRBuYMUKtcVhjD_2e8&libraries=places"></script>
    <script src='/js/validation.js'></script>
    <script src="/js/autocomplete.js"></script>
    <script>
        setTimeout(() => {
            $("#MsgShow").hide();
        }, "3000")
    </script>
</body>