<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salon | Users</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
        integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.1/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
</head>

<body>
    <header id="nav-wrapper">
        <nav id="nav">
            <div class="nav left">
                <span class="gradient skew">
                    <h1 class="logo un-skew">
                        <a href="/users">
                            BeautySN
                        </a>
                    </h1>
                </span>
                <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
            </div>
            <div class="nav right">
                <a href="/users" class="nav-link active">
                    <span class="nav-link-span">
                        <span class="u-nav">Users</span>
                    </span>
                </a>
                <a href="/logout" class="nav-link">
                    <span class="nav-link-span">
                        <span class="u-nav">Logout</span>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <main class="main-container">
        <div class="container py-5">
            <div class="card">
                <div class="card-body p-3">
                    <div class="mb-2">
                        <a href="/users/new-user" class="btn btn-primary btn-sm">New User</a>
                    </div>
                    <table id="userData" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Gender</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(function(user) { %>
                            <tr>
                                <td><%= user.firstname %></td>
                                <td><%= user.lastname %></td>
                                <td><%= user.email %></td>
                                <td><%= user.location %></td>
                                <td><%= user.latitude %></td>
                                <td><%= user.longitude %></td>
                                <td><%= user.gender %></td>
                                <td><%= user.role %></td>
                                <td>
                                    <% if (user.role != "admin") { %> 
                                    <a href="/users/edit-user/<%= user.id %>"  class="btn btn-primary btn-sm">Update</a>
                                    <a href="javascript:void(0);" class="btn btn-danger btn-sm " data-id="<%= user.id %>" data-toggle="modal" data-target="#exampleModal">Delete</a>
                                    <% } %>
                                </td>
                                
                            </tr>
                            <% }) %>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </main>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.fixedHeader.min.js"></script>
    <script src="js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#userData').DataTable( {
                responsive: true
            } );
        
            new $.fn.dataTable.FixedHeader( table );
        } );
        $(document).on("click", ".userRemove", function(e) {
            let appointId = $(this).data("id");
            let data = {
                id: appointId
            }
            $.ajax({
                type: 'post',
                url: '/appointments/appointment-delete',
                data: data,
                success: function (result) {
                    console.log(result)
                    if (result.status == "success") {
                        location.reload();
                    }

                }
            });
        });
        
    </script>
</body>